@import url('variables-color.css');

:root {
    /* heading */
    --heading-secondary: 3rem;
    --heading-primary: 4rem;

    /* font-size */
    --fontSize-input-login: 2rem;
    --fontSize-icon-login: 1.5rem;
    --fontSize-placeholder-login: 1.8rem;
    --fontSize-link-login: 1.8rem;
    --fontSize-legend-login: 2.4rem;
    --fontSize-btnLightBlue: 2.4rem;

    /* padding */
    --padding-input-login: 1.1rem 0 1.1rem 1.4rem;
    ;
    --padding-btnLightBlue: 1.2rem 3.7rem;
    --padding-bottom-fieldset: 5rem;

    /* width */
    --width-formControl-login: 75%;
    --width-label-login: 10%;
    --width-input-login: 100%;
    --width-logo-login: 20rem;
    --width-gutter-col-1-2: 3rem;
}