:root {
    --white-color: rgb(255, 255, 255);
    --mediumWhite-color: rgb(247, 247, 247);
    --black-color: rgb(0, 0, 0);
    --oceanBlue-color: rgb(14, 104, 240);
    --lightOceanBlue-color: rgb(70, 106, 236);
    --lightBlue-color: rgb(0, 209, 255);
    --mediumblue-color: rgb(101, 169, 209);
    --mediumBlue-2-color: rgb(93, 147, 177);
    --easternBlue-color: rgb(0, 140, 170);
    --mediumEasternBlue-color: rgb(0, 111, 146);
    --lightEasternBlue-color: rgb(0, 168, 205);
    --lightGray-color: rgb(219, 219, 219);
    --lightGray-2-color:  rgb(215, 203, 203);
    --gray-color: rgba(171, 171, 171);
    --mediumGray-color: rgb(135, 135, 135);
}