@import url('variables-color.css');
@import url('variables-navigation.css');
@import url('variables-header.css');

:root {
    /* font-size */
    --mainFormCreate-fontSize: 1.8rem;
    --avatarIcon-fontSize: 7rem;

    /* margin */
    --input-marginLeft: 5rem;
    --lastNameInput-marginLeft: 1rem;
    --formCreateControl-marginTop: 2.4rem;

    /* padding */
    --mainFormCreate-padding: 3rem 6.5rem 3.5rem 14rem;
    --formCreate-padding: 3.5rem 12rem 5rem 13rem;
    --btnCreate-padding: 1rem 3rem;
    --rolesItemLabel-paddingLeft: 3.5rem;
    --input-padding: 1rem 2rem;

    /* width */
    --avatarLabel-width: 7rem;
    --avatarLabel-height: 5rem;
    --dateInput-width: calc(var(--input-width) / 3.4);
    --width-navigation: 20%;
    --width-gutter-col-1-2: 5%;
    --mainFormCreate-width: calc(100% - var(--width-navigation));
    --sideName-width: calc((100% - var(--width-gutter-col-1-2)) / 2);
    --label-width: 20%;
    --input-width: calc(100% - (var(--label-width) + var(--input-marginLeft) + 1%));
    --rolesItem-width: calc(100% / 3 - 2%);
    --rolesItem-padding: 1.5rem 0 1.5rem 1.5rem;
    --nameLabel-width: calc(var(--label-width) * 2.10509);
    --nameInput-width: calc(100% - (var(--nameLabel-width) + var(--input-marginLeft) + 2%));
    --lastNameLabel-width: 20%;
    --lastNameInput-width: calc(100% - (var(--lastNameLabel-width) + var(--lastNameInput-marginLeft) + 2%));
}