:root {
    /* font-size */
    --navigationTitle-fontSize: 2.4rem;
    --menuItem-fontSize: 1.8rem;
    --menuAccountItem-fontSize: 1.7rem;
    --menuAccountIcon-fontSize: 1.7rem;

    /* height */
    --navigation-height: 100vh;

    /* width */
    --navigation-width: 18%;

    /* padding */
    --navigation-paddingTop: 4rem;
    --navigation-padding: 4rem 3rem 0 2rem;
    --menuAccountTypes-padding: 4rem 0 0 5rem;

    /* margin */
    --navigationMenu-marginTop: 5rem;
    --menuAccountIcon-marginLeft: 5rem;
    --menuItem-marginTop: 3.6rem;
}