:root {
    --padding-btnGray: 1rem 1.5rem;
    --padding-btnOceanBlue: 1rem 2rem;
}

.btn {
    border: none;
    cursor: pointer;
}

.btn-lightBlue {
    font-size: var(--fontSize-btnLightBlue);
    background-color: var(--lightBlue-color);
    font-weight: 600;
    padding: var(--padding-btnLightBlue);
    border-radius: 10px;
}

.btn-lightBlue:hover {
    background-color: var(--lightEasternBlue-color);
    color: var(--white-color);
}

.btn-gray {
    background-color: var(--lightGray-color);
    padding: var(--padding-btnGray);
    border-radius: 5px;
    box-shadow: 20px solid black;
}

.btn-gray:hover {
    background-color: var(--mediumGray-color);
}

.btn-ocean--blue {
    background-color: var(--oceanBlue-color);
    color: var(--white-color);
    padding: var(--padding-btnOceanBlue);
    border-radius: 10px;
    font-weight: 200;
}

.btn-ocean--blue:hover{
    background-color: var(--lightBlue-color);
}