.management__table-box {
    margin-top: var(--tableBox-marginTop);
}

.management__table {
    border-collapse: collapse;
}

.management__table-title {
    text-align: left;
}

.management__table,
.management__table td,
.management__table th {
    border: 1px solid var(--black-color);
}

.management__table td,
.management__table th {
    text-align: center;
}

.management__table td{
    padding: var(--td-padding);
}

.management__table th.ID {
    padding: 2rem;
}

.management__table td:hover {
    /* border: 1px solid var(--oceanBlue-color); */
    outline: 2px solid var(--oceanBlue-color);
    /* outline: 2px solid var(--black-color); */
}

.management__table td.ID:hover,
.management__table td.cta:hover {
    outline: none;
}

/* .management__table textarea {
    border: none;
    outline: none;
    text-align: center;
    word-wrap: break-word;
    resize: none;
    overflow: hidden;
    height: 100%;
    cursor: default;
} */

.management__table .cta {
    padding: var(--ctaCell-padding);
}