@import url('../Button/Button.css');

.main__form-create {
    font-size: var(--mainFormCreate-fontSize);
    padding: var(--mainFormCreate-padding);
    width: var(--mainFormCreate-width);
}

.form-create {
    border: 2px solid var(--lightGray-2-color);
    border-radius: 5px;
    padding: var(--formCreate-padding);
}

.form-create__control {
    margin-top: var(--formCreateControl-marginTop);
}

.form-create .form-create__control:first-child {
    margin-top: 0;
}

.form-create label,
.form-create input {
    display: inline-block;
}

.form-create label {
    text-align: left;
    width: var(--label-width);
}

.form-create input {
    display: inline-block;
    width: var(--input-width);
    margin-left: var(--input-marginLeft);
    padding: var(--input-padding);
    border: 1px solid var(--lightGray-2-color);
    border-radius: 5px;
}

.form-create .date-input {
    width: var(--dateInput-width);
}

.control__avatar {
    position: relative;
    display: inline-block;
    width: var(--input-width);
}

.control__avatar label {
    width: var(--avatarLabel-width);
    height: var(--avatarLabel-height);
}

.control__avatar-icon {
    position: absolute;
    top: 0;
    left: var(--input-marginLeft);
    font-size: var(--avatarIcon-fontSize);
}

.control__avatar input {
    visibility: hidden;
}

.side.name {
    width: var(--sideName-width);
}

.side.name:last-child {
    margin-left: var(--width-gutter-col-1-2);
}

.side.name label {
    width: var(--nameLabel-width);
}

.side.name input {
    width: var(--nameInput-width);
}

.side.name label.last-name {
    width: var(--lastNameLabel-width);
}

.side.name input#last-name,
input#town,
input#apartment-number {
    width: var(--lastNameInput-width);
    margin-left: var(--lastNameInput-marginLeft);
}

.form-create__cta {
    text-align: right;
}

.form-create__cta button {
    padding: var(--btnCreate-padding);
}

.roles__list {
    display: inline-block;
    width: var(--input-width);
    margin-left: var(--input-marginLeft);
    border: 1px solid var(--lightGray-2-color);
    border-radius: 5px;
}

.roles__item {
    display: inline-block;
    padding: var(--rolesItem-padding);
    width: var(--rolesItem-width);
    border-left: 1px solid var(--lightGray-2-color);
}

.roles__item:first-child {
    border-left: none;
}

.roles__item input,
.roles__item label {
    width: auto;
}

.roles__item input {
    margin: 0;
    display: none;
}

.roles__item-label {
    position: relative;
    padding-left: var(--rolesItemLabel-paddingLeft);
    cursor: pointer;
}

.roles__item-radio {
    position: absolute;
    top: -5px;
    left: 0;
    height: 2.7rem;
    width: 2.7rem;
    border: 1px solid var(--lightGray-2-color);
    border-radius: 50%;
}

.roles__item-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black-color);
    visibility: hidden;
}

.roles__item input:checked+.roles__item-label>.roles__item-radio::after {
    visibility: visible;
}