.row {
    max-width: 100%;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.col {
    float: left;
}

.row .col-1-2:first-child {
    margin-left: 0;
}

.col-1-2 {
    width: calc((100% - var(--width-gutter-col-1-2)) / 2);
    margin-left: var(--width-gutter-col-1-2);
}